/* ============================================= */
/*              Variables                        */
/* ============================================= */




/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$primary-color: #58e1c1;
$color-3: #deb2ee;
$color-4: #7ee6fd;
$color-5: #88d9a0;
$color-6: #4da2bb;
$color-7: #ec9fa3;
$color-8: #fd9f85;
$color-11: #80e8d1;


/* ============================================= */
/*              Buttons                          */
/* ============================================= */

$btn-default: #51ddfc;
$btn-success: #63cc82;
$btn-error: #e4757a;
$btn-warning: #fd7856;
$btn-info: #927bc1;

/* ============================================= */
/*              Fonts                            */
/* ============================================= */

$primary-font-color: #777;
$secondary-font-color: #fff;


/* ============================================= */
/*           Media Query Breakpoint              */
/* ============================================= */
$break-media: 786px;