// Variables


// Color Variables
$primary-color: #51ddfc;
$secondary-color: #e4757a;
$tertiary-color: #927bc1;
$quarternary-color: #63cc82;
$quinary-color: #fd7856;




// Media Query Variables
$small: 575px;
$medium: 768px;
$large: 1020px;
$max-width: 1400px;