/* ============================================= */
/*              Grid                             */
/* ============================================= */


.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .card {
    flex-basis: 100%;
  }

/* ============================================= */
/*              Images                           */
/* ============================================= */


.img {
  @include center;

  &-avatar{
    @extend .img;
      margin-top: 10px;
      max-width: 100%; 
      max-height: 100%;
  }
  &-frame{
    @extend .img;
      margin-top: 10px;
      max-width: 100%;
      padding: 13px;
      border: 1px solid $secondary-font-color;
  }
  &-logo{
    @extend .img;
  }

}


/* ============================================= */
/*              Columns                          */
/* ============================================= */


.theme.col-1 {
  background-color: $btn-info;
}


.theme.col-2 {
  background-color: $btn-warning;
}

.theme.col-3 {
  background-color: $color-3;
}

.theme.col-4 {
  background-color: $color-4;
}

.theme.col-5 {
  background-color: $color-5;
}

.theme.col-6 {
  background-color: $color-6;
}

.theme.col-7 {
  background-color: $color-7;
}

.theme.col-8 {
  background-color: $color-8;
}

.theme.col-9 {
  background-color: $btn-error;
}

.theme.col-10 {
  background-color: $btn-success;
}

.theme.col-11 {
  background-color: $btn-default;
}

.theme.col-12 {
  background-color: $color-11;
}
